MONGO_URI=mongodb://host.docker.internal:27017
MONGO_DATABASE=cabinet_division_db
MONGO_COLLECTION=policies

SOURCE_URL=https://cabinet.gov.pk/Policies

PDF_DIRECTORY=data/pdfs
MARKDOWN_DIRECTORY=data/markdown

REQUEST_TIMEOUT=30
MAX_RETRIES=3